div.app_main {
  display: flex;
  padding: 10px;
}

div.button_group {
  width: 200px;
  display: flex;
  gap: 10px;
}

div.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
div.form button {
  width: 100px;
}

div.upload_input {
  display: flex;
  flex-direction: column;
}
